@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

#createPost {
    background-color: #fff;
    height: 70%;
    width: 616px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    margin: 15% auto 100px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#createPost .createLogo {
    margin: auto;
    padding: 64px; 
}

#createPost input[type="file"] {
    color: #ffffff;
}

#createPost .actionButtonContainer{
    display: flex;
    justify-content: flex-end;
}

#createPost textarea {
    padding: 22px 18px;
    width: -webkit-fill-available;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}

#createPost textarea::placeholder{
    color: #E6E6E6;
    font-family: 'Roboto', sans-serif;

}

#createPost .buttonCreatePost {
    background-color: #5197E9; 
    width: 156px;
    height: 45px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    margin: 70px 0 0 12px;
}

#createPost .buttonCancel {
    background-color:#5751E9; 
    width: 156px;
    height: 45px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    margin: 70px 12px 0;
}

#createPost .buttonCreatePost:disabled {
    background-color: grey;
}

.chooseImage-button::-webkit-file-upload-button {
    visibility: hidden;
}
.chooseImage-button::before {
    content: 'Choose Image';
    color: #fff;
    display: inline-block;
    background-color: #5197E9; 
    width: 156px;
    border: none;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 13px 6px;
    border-radius: 2px;
    margin-bottom: 75px;
}
.chooseImage-button:hover::before {
    border-color: black;
}
.chooseImage-button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.chooseImage-button:focus {
    outline: none;
}
