#navbar {
    display: flex;
    justify-content: space-around;
}

#navbar .closed {
    display: none;
}

#navbar .open {
    border: 1px solid #E6E6E6;
}

#navbar .open a{
    text-decoration: none;
    color: black;
}

.wrapper {
    position: relative;
    /* width: 200px; */
}

.nav_addIcon {
    padding-right: 20px;
}
.searchIcon {
    top: 7px;
    left: 50px;
    padding-left: 10px;
    position: absolute;
    color: gray;
}

.wrapper input {
    text-align: center;
    width: 250px;
    height: 2rem;
    color: gray;
    font-weight: 700;
}