.createReply{
    justify-content: space-between;
    display: flex;
    height:44px;
    background-color: #FAFAFA;
    border:1px solid #dbdbdb;
    margin:24px 10px 8px 24px;
    border-radius: 3px;
    
    
}
.createReplyInput{
    width:80%;
    background-color: #FAFAFA;  
    border: none;  
    margin-left:5px;
}

.createReplyInput:focus{
    outline:none;
}

.createReplyInput::placeholder{
    color:#e6e6e6;
}

.createReplyButton{
    height: 34px;
    width:34px;
    background-color: #5197E9;
    font-size:x-large;
    color:white;
    margin:none;
    border:none;
    border-radius: 3px;
    align-self: center;
    align-items: center;
    margin-right:5px;  
    padding-bottom: 5px;
}