#navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width:100%
}

#navbar .nav-action-items {
    display: flex;
    width: 167px;
}

#navbar .closed {
    display: none;
}

#navbar .open {
    position: absolute;
    border: 1px solid #E6E6E6;
}

#navbar .login-menu {
    width: 2em;
}

.clearBButton {
    border: none;
    padding: 0;
    background-color: white;
}

.wrapper {
    position: relative;
    margin: 10px 0 10px 0;
    /* width: 200px; */
}

.nav_addIcon {
    margin: 13px 20px 13px 0;
    align-self: baseline;
    padding: 10px;
    height: 22px;
    width: 22px;
    border-radius: 7px;
    background-color: white;
}

.nav_addImg {
    position: relative;
    right: 12px;
    bottom: 12px;
}

.searchIcon {
    top: 7px;
    left: 50px;
    padding-left: 10px;
    position: absolute;
    color: gray;
}

.wrapper input {
    text-align: center;
    width: 250px;
    height: 2rem;
    border: 1px solid gray;
    color: gray;
    background-color: #FAFAFA;
    font-weight: 700;
}

.login-menu {
    position: relative;
    margin: 13px 0 13px 0;
}

.clearBButton {
    border: none;
    padding: 0;
    background-color: white;
}

.logButton {
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: white;
    border-style: solid;
    border-color: #E6E6E6;
    color: black;
    width: 102px;
    height: 47px;
}