#navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #FFFFFF;

}

#navbar .nav-action-items {
    display: flex;
}

#navbar .closed {
    display: none;
}

#navbar .open {
    position: absolute;
    border: 1px solid #E6E6E6;
}

#navbar .login-menu {
    width: 2em;
}

.clearBButton {
    border: none;
    padding: 0;
    background-color: white;
}

.loginButton {
    position: absolute;
    top: 30px;
    right: 20px;
}

.wrapper {
    position: relative;
    /* width: 200px; */
}

.nav_addIcon {
    align-self: baseline;
    padding-right: 20px;
}
.searchIcon {
    top: 7px;
    left: 50px;
    padding-left: 10px;
    position: absolute;
    color: gray;
}

.wrapper input {
    text-align: center;
    width: 250px;
    height: 2rem;
    border: 1px solid gray;
    color: gray;
    background-color: #FAFAFA;
    font-weight: 700;
}

.login-menu {
    position: relative;
}

.clearBButton {
    border: none;
    padding: 0;
    background-color: white;
}

.loginButton {
    position: absolute;
    top: 30px;
    right: 20px;
}