#loginForm {
    background-color: #fff;
    height: 70%;
    width: 616px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    margin: 15% auto 100px;
    padding: 10px 10px 100px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formInput{
    width: min-content;
    height: min-content;
}

#pixelImage{
    text-align: center;
    width: 195px;
    height: 53px;
    padding: 64px;
}

.register-button {
    background-color: white; 
    width: 70px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.login-button {
    background-color: #5197E9; 
    width: 118px;
    height: 45px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.login-button:disabled{
    background-color: grey;
}

.inputBox {
    background-color: #FAFAFA;
    width: 524px;
    height: 57px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 10px;
    font-size:18px;
    opacity: .6;
}

#username {
    margin: 20px 0;
}

#password {
    margin: 20px 0;
}

#actionButtonContainer{
    display: flex;
    justify-content: flex-end;
    margin: 40px 40px 0 0;
}

.register-button {
    margin-right: 45px;
}